section {
    min-height: 100vh;
}

.cours-resume {
    height: 250px;    
    display: grid;
    grid-template-columns: 25% 1fr 15% 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.cours-titre {
    grid-column: 2;
    grid-row: 2;
    font-weight: 600;
}

.resume-gauche {
    grid-column: 2;
    grid-row: 3;
}

.resume-droit {
    grid-column: 4;
    grid-row: 3;
}

.cours-chapitres table tr td {
    background-color: #999999;
    height: 30px;
    width: 75px;
    border-bottom: 4px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.cours-progression {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}