{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
	<div class="admin-panel clearfix">
		<div class="slidebar">
			<div class="logo">
				<a href="{{ path('app_accueil') }}"></a>
			</div>
			<ul>
				<li><a href="#dashboard">Dashboard</a></li>
				<li><a href="#utilisateurs">Utilisateurs</a></li>
				<li><a href="#cours">Cours</a></li>
				<li><a href="#chapitres">Chapitres</a></li>
				<li><a href="#parametres">Paramètres</a></li>
			</ul>
		</div>
		<div class="main">
			<div class="mainContent clearfix">
				<div id="dashboard">
					<h2 class="header">
						<span class="icon"></span>
                        Dashboard
                    </h2>
					<div class="monitor">
						<h4>Utilisateurs ayant vérifié leur compte</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats HTML</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats CSS</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats JS</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats React</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats Maquetage</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats PHP</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
					<div class="monitor">
						<h4>Stats Symfony</h4>
						<div class="clearfix text-center">
							ICI votre indicateur camembert
						</div>
					</div>
				</div>
				<div id="utilisateurs">
					<h2 class="header">Utilisateurs</h2>
				</div>
				<div id="cours">
					<h2 class="header">Cours</h2>
				</div>
				<div id="chapitres">
					<h2 class="header">Chapitres</h2>
				</div>
				<div id="parametres">
					<h2 class="header">Paramètres</h2>
				</div>
			</div>
		</div>
	</div>
    {% else %}
        {% include "errors/_404.html.twig" %}
    {% endif %}
{% endblock %}

{% block footer %}{% endblock %}