{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <section class="bg-primary">
        
    </section>
    <section class="bg-black">

    </section>
    <section class="bg-primary">

    </section>
{% endblock %}
